[class*="libraryhome_WhatsNew"] {
	display: none !important;
}
[class*="writereview_RatingContainer"] {
	display: none !important;
}
[class*="appdetailsactivitysection_AddToFeed"] {
	display: none !important;
}
[class*="appdetailstradingcardssection_Container"] {
	display: none !important;
}
